.modal-ref {
    font-weight: bold !important;
    text-decoration: none !important;
    /* remove the underline */
}

.modal-ref:hover {
    cursor: help;
}

div.modal-header {
    height: 10vh;
    border-bottom: none;
}