.indent-s {
    margin-left: 0.2em;
}

.indent-m {
    margin-left: 0.6em;
}

.indent-l {
    margin-left: 1em;
}

.outdent-s {
    margin-left: -0.2em;
}

.outdent-s {
    margin-left: -0.6em;
}

.outdent-s {
    margin-left: -1em;
}

//---------------------
// 
// details div li {
//     margin-left: 2em;
// }