/*-- scss:uses --*/
@use "sass:color";
@use "indents";
// @use "links";

/*-- scss:defaults --*/
$themeprimary1: #3D5A80;
$primary: $themeprimary1;
$theme-contrast-primary: #0074b9;
$themeprimary2: #98C1D9;
$secondary: $themeprimary2;
$themeprimary3: #E0FBFC;
$themewhite: #F9F5FF;
$themedarkprimary: #2E4057;
$themeaccent1: #D4C2fC;
$themeaccent1dark: #998FC7;
$themegrayedout: #8895b3;
$column_main_body_max_width: 800px;
$themebuttonbackground: $themegrayedout;
$themebuttontext: $themedarkprimary;

$themecodeaccentforetext: #7d12ba;
$themecodeaccentbacktext: #f3ebff;


$themeaccent1darker: darken($themeaccent1dark, 0.5); // _test

$body-color: $themeprimary1;
$body-bg: $themewhite;
// $link-color: #0081ff;
$link-color: $theme-contrast-primary;
$navbar-bg: $themeprimary1;
// $navbar-bg: color.adjust($themewhite, $lightness: -1%);
$navbar-fg: $themewhite;
$footer-fg: $themewhite;
$footer-bg: $themeprimary1;

//Inline code
// $code-bg: color.scale($themeprimary3, $alpha: -50%);
$code-block-bg: #292D3E;
// $code-block-fg: $themewhite;
// $code-block-bg: $themewhite;
$code-color: $themedarkprimary;
$btn-code-copy-color: $themewhite;
$btn-code-copy-color-active: #CA836A;

$pink: #ff8edd;
$pink-dark-style: #ffd8d8;
$theme-contrast-primary-dark: #a4d1f0;
$red: #ae0000;

/*-- scss:rules --*/
.light {
    font-weight: lighter
}

a {
    // font-weight: 550;
    // text-decoration-thickness: 0.09em;
    text-decoration-skip-ink: none;
    color: $link-color;
    // text-underline-position: under;
}

// a sup {
//     // font-weight: 700; // Footnote superscript links
// }


.btn-light {

    background-color: $themewhite !important;
    border: 1px solid $themeprimary1 !important;
    border-radius: 4px !important;

    color: $themeprimary1 !important;
}

// JSON BLOCKS
.code-with-filename-file pre strong {
    color: $themeprimary1 !important;
}

// 
// pre.sourceCode.json code.sourceCode.json span.st {
//     // Strings
//     color: $theme-contrast-primary-dark !important;
// }
// 
// pre.sourceCode.json code.sourceCode.json span.ot {
//     // Strings
//     color: $themewhite !important;
// }
// 
// pre.sourceCode.json code.sourceCode.json span.fu {
//     // brackets
//     color: $themewhite !important;
// }
// 
// pre.sourceCode.json code.sourceCode.json span.dt {
//     // Keys 
//     color: $themewhite !important;
// }
// 
// pre.sourceCode.json code.sourceCode.json span.dv {
//     // numbers
//     color: $pink-dark-style !important;
// }

//-----------------------------
dl.code-annotation-container-grid dt {
    color: $themeprimary1;
    border: solid $themeprimary1 1px;
    border-top-color: $themeprimary1;
    border-right-color: $themeprimary1;
    border-bottom-color: $themeprimary1;
    border-left-color: $themeprimary1;
}

.gray {
    color: $themegrayedout;
}

.json-key-span {
    color: $themeprimary1;
}

code.sourceCode.json span.st {
    // Strings
    color: $theme-contrast-primary;
}

.json-string-value-span {
    color: $theme-contrast-primary;
}

.column-margin {
    color: $themeprimary1;
}

.code-with-filename-file pre strong {
    color: $themeprimary1;
}

a sup {
    margin-left: 0.1em !important;
    text-decoration: none !important;
}

a.footnote-back {
    text-decoration: none !important;
}

code:not(:has(*)),
.inline-code {
    color: $themeprimary1;
}

.json-number {
    color: $red !important;
}

.jse-tag {
    background-color: transparent !important;
    color: rgb(136, 149, 179) !important;
}

details summary {
    color: $themeprimary1;
}

pre.plaintext_json_block code {
    background-color: lightgray !important;
}

input {
    border: 1px solid $themeprimary1 !important;
    color: $themeprimary1 !important;
}

.modal-ref {
    color: $link-color;
}

.jse-search-input {
    color: $themeprimary1 !important;
}

// .jse-highlight {
//     background-color: $themegrayedout;
//     outline: $themegrayedout;
// }

// Callouts
.callout-note {
    border-left-color: $themeprimary1;
}



a.ext::after {
    content: "🡥";
    font-size: 0.6em;
    color: $link-color;
}

// a.ext:hover::after {
//     font-size: 1.3em;
// }


a.sec::after {
    content: "§";
    color: $link-color;
}


.isModal::after {
    content: "❐";
    /* content: "⮺"; */
    color: $link-color;
}

a.int::after {
    content: "⇱";
    transform: scaleX(-1);
    color: $link-color;
}

.def::after {
    content: "ⓘ";
    color: $link-color;
}

.modal-dialog {
    display: flex;
    width: 90vw;
    max-width: $column_main_body_max_width;
    justify-content: center;
    align-items: center;
}

.workspace-title-bar {
    background-color: $themeprimary1;
    color: $themewhite;
}

.filename-bar {
    background-color: $themeprimary1;
    color: $themewhite;
}

.file-tree {
    background-color: $themeprimary1;
    color: $themewhite;
    padding-right: 0.4em;
    height: 100%;
}


.tree-folder:hover {
    background: color.scale($themeprimary1, $lightness: 20%);
}

.tree-file:hover {
    background: color.scale($themeprimary1, $lightness: 20%);
}

.tree-file.active {
    background: $theme-contrast-primary;
    color: color.scale($themewhite, $lightness: 20%);
}